<section class='hero'>
  <nav class='nav'>
    <div class='nav-left'>
      <a class='nav-item'>主页</a>
      <a class='nav-item'>动态</a>
    </div>

    <div class='nav-center'>
    </div>
  </nav>
</section>
