<section class='hero'>
  <nav class='nav'>
    <div class='nav-left'>
      <%= link_to '主页', root_path, class: 'nav-item' %>
      <%= link_to '动态', activities_path, class: 'nav-item' %>
    </div>

    <div class='nav-center'>
    </div>
  </nav>
</section>
