<section class='section' id="todo-list-section">
  <h2 class='title is-2'>任务</h2>
  <ul id="todo-list-uncompleted">
    <%= render @todos %>
  </ul>
  <section id="todo-list-create">
    <%= render @create_todo %>
  </section>
</section>
