<section class='section' id="todo-list-section">
  <h2 class='title is-2'>任务</h2>

  <% if @completed_todos.any? %>
  <section>
    <h3 class='title is-3'>未完成</h3>
    <ul id="todo-list-uncompleted">
      <%= render @uncompleted_todos %>
    </ul>
  </section>
  <% end %>
  <% if @completed_todos.any? %>
  <section>
    <h3 class='title is-3'>已完成</h3>
    <ul id="todo-list-completed">
      <%= render @completed_todos %>
    </ul>
  </section>
  <% end %>
  <section id="todo-list-create">
    <%= render @create_todo %>
  </section>
</section>
