<%= content_tag_for :li, activity, style: 'margin-bottom: 1em;' do %>
  <article class='level'>
    <div class='level-left'>
      <small class='level-item' style='width: 60px;'><%= time_ago_in_words activity.created_at %></small>
      <div class='level-item media'>
        <figure class='media-left'>
          <p class="image is-48x48">
            <img src="https://tower.im/assets/default_avatars/path.jpg"
             style='border-radius: 50%;'>
          </p>
        </figure>
        <div class='media-content'>
          <div class='content'>
            <%= render "activities/activity_#{activity.action}", activity: activity %>
          </div>
        </div>
      </div>
    </div>
  </article>
<% end %>
